<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebPage Visitors Details</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body style="text-align:center">
	<h1 style="color:Black">Welcome to Visitors Repository</h1>
	<br/><br/>
	<br/><br/>
	<form action='viewVisitors' method='GET'>
		<button type='submit'>View Visitors</button>
	</form>
	<br/><br/>
	<form action='addVisitors' method='GET'>
		<button type='submit'>Add Visitors</button>
	</form>
</body>
</html>

